.main {
  background: #e5f3f2;
  height: 50px;
}

.input {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.btn {
  font-size: 20px;
  background: #5e8480;
  border-style: none;
  margin-top: 20px;
  color: #FFF;
}